.lobbyhead {
    margin-top: 4em;
    margin-bottom: 2em;
    width: 80%;
}

.lobbyhead h1{
    margin-bottom: -.05em;
}

.lobbyhead h2 {
    margin-top: .5em;
}
.playerslist {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

button.startGame {
    position: absolute;
    bottom: 2em;
    width: 70%;
}