button {
    background-color: var(--clr-primary);
    color: var(--clr-secondary);
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: "SundayMono";
    font-size: 1.6em;
    padding: 8px;
}
