button {
    background-color: var(--clr-dark);
    color: var(--clr-light);
    outline: none;
    border: none;
    border-radius: 2px;
    font-family: AlenbiSans;
    font-weight: 500;
    font-size: 1.6em;
    padding: 8px;
}
