.game-stage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--clr-light);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    box-sizing: border-box;
}