body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'AlenbiSans', 'system-os', sans-serif;
  font-size: 100%;
}

input {
  color: var(--clr-dark);
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  margin-bottom: .3em;
  color: var(--clr-dark);
}

h5 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
  color: var(--clr-dark);
}
