body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--clr-light);

  font-family: 'AlenbiSans', 'system-os', sans-serif;
  font-size: 100%;
}

h1, h2, h5, p, input {
  color: var(--clr-dark);
}

h1 {
  font-size: 4em;
  font-weight: 700;
  margin: 0;
  margin-bottom: .3em;
}

h2 {
  font-size: 3em;
  font-weight: 600;
  margin: 0;
  margin-bottom: .2em;
}

h5 {
  font-size: 2em;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 1.3em;
  margin: 0;
}