body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: var(--clr-secondary); */
  background-image: url("/public/bg1.png");
  background-size: 5%;

  font-family: "SundayMono";
  font-size: 100%;
}

h1, h2, h5, p, input {
  color: var(--clr-primary);
}

h1 {
  font-size: 4em;
  font-weight: bold;
  font-style: italic;
  line-height: 90%;
  margin: 0;
  margin-bottom: .3em;
}

h2 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
  margin-bottom: .2em;
}

h5 {
  font-size: 2.2em;
  font-weight: bold;
  margin: 0;
}

p {
  font-size: 1.3em;
  margin: 0;
}

a {
  color: var(--clr-primary);
  font-size: 1.3em;
}
